<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    {% if page.url == '/' %}
      <a class="sidebar-nav-lng" href="/en">🇺🇸 English</en>
    {% else %}
      <a class="sidebar-nav-lng" href="/">🇺🇦 Українська</en>
    {% endif %}

    {% for item in page.subnav %}
      <a class="sidebar-nav-item" href="{{ item.url }}">{{ item.title }}</a>
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} All rights reserved
    </p>
    <p>
      Made by
      <a href="https://twitter.com/veelenga" target="_blank" rel="noreferrer">
        veelenga
      </a> &
      <a href="https://www.facebook.com/aleksandr.zainetdinov" target="_blank" rel="noreferrer">
        zaynet
      </a>
    </p>
  </div>
</div>
