<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item" href="#про-нас">Про нас</a>
    <a class="sidebar-nav-item" href="#як-допомогти">Як допомогти</a>
    <a class="sidebar-nav-item" href="#як-це-працює">Як це працює</a>
    <a class="sidebar-nav-item" href="#що-закупили">Що закупили</a>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} All rights reserved
    </p>
    <p>
      Made by
      <a href="https://twitter.com/veelenga" target="_blank" rel="noreferrer">
        veelenga
      </a> &
      <a href="https://www.facebook.com/aleksandr.zainetdinov" target="_blank" rel="noreferrer">
        zaynet
      </a>
    </p>
  </div>
</div>
